.photoListWrapper {
  margin-top: 26px;
}

.photoListWrapper > h2 {
  color: white;
}

.imageWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  gap: 20px;
  overflow: hidden;
}

.ErrorMessage {
  font-size: 42px;
  color: brown;
  font-weight: bold;
  width: 100%;
}

.clearButton {
  padding: 6px 12px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  text-transform: capitalize;
  background-color: green;
  outline: none;
  border: none;
  border-radius: 12px;
  transition: all .3s ease;
}

.clearButton:hover {
  background-color: cadetblue;
}
