.header {
  padding: 20px;
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: bold;
}

.menuWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menuElement {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

@media screen and (max-width: 550px) {
  .header {
    padding: 20px;
    border-radius: 26px;
    background-color: green;
    flex-direction: column;
    gap: 16px;
  }
}